<p><a href="#/" class="btn btn-default back-button"><span class="glyphicon glyphicon-chevron-left"></span>Back</a></p>

<div class="box ">
    <h2>
        <img src="images/avatarPlaceholder.png" alt="{{ contact.displayName }}" class="img-rounded avatar" />
        {{ contact.displayName }}
        <span class="label label-primary {{ GS.getName( contact.group ) }}">{{ GS.getName( contact.group ) }}</span>
    </h2>


    <p>Phone number: {{ contact.phone }}</p>

    <a href="#/editContact/{{ contact.id }}" class="btn btn-info">Edit Contact</a>
</div>