<p><a href="#addContact" class="btn btn-success">Add Contact</a></p>
<p><input type="text" placeholder="Search for contact" ng-model="contactFilter" class="form-control" /></p>
<p class="sort-buttons sort-{{ orderBy }} sort-reverse-{{ reverse }}">
    <button ng-click="toggleSort('displayName')" class="btn btn-default sort-displayname">Sort by name</button>
    <button ng-click="toggleSort('group')" class="btn btn-default sort-group">Sort by group</button>
</p>

<ul ng-controller="ListController" class="list-group contact-list">
    <li
        ng-repeat="contact in CLS.contacts | filter:contactFilter | orderBy:orderBy:reverse"
        ng-click="openContact( contact.id )"
        class="list-group-item">

        <strong>{{ contact.displayName }}</strong>
        {{ contact.phone }}
        <span class="label label-primary {{ GS.getName( contact.group ) }}">{{ GS.getName( contact.group ) }}</span>
    
    </li>
</ul>